.radio-addExam .ant-radio-wrapper {
    font-size: 10px !important;
    display: flex !important;
    align-items: center !important;
}
.radio-typeFile-addExam .ant-radio-wrapper {
    height: 14px !important;
    width: 14px !important;
}
